body{
	background: #FF68A3;
	background: linear-gradient(180deg,rgba(255, 104, 163, 1) 0%, rgba(229, 109, 206, 1) 15%, rgba(111, 38, 130, 1) 100%);
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #6F2682;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

#titlename{
	right: 0;
}

#headerNavi{
	right: 0;
	position: absolute;
	padding-right: 40px;
}

#headerNaviList {
	list-style-type:none;
	display: flex;
	float: left;
}

#headerNavi li {
	margin-left: 20px;
	margin-right: 20px;
}

.sidebar{
	position: fixed;
	float: left;
	padding: 10px 16px;
	margin: 10px;
	margin-left: 0;
	margin-right: 10px;
	background: #6F2682;
	color: #f1f1f1;
	border-radius: 25px;
}

#sidebarNavi{
	list-style-type: none;
	text-align: left;
}

.project{
	padding: 10px 16px;
	background: #400D56;
	color: #f1f1f1;
	border-radius: 25px;
	margin-left: 260px;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 25px;
}

.projectImages{
	margin-top: 25px;
}

.projectImages img{
	margin-right: 35px;
	margin-left: 10px;
	margin-bottom: 35px;
	outline-style: solid;
	outline-color: #702583;
	outline-width: 10px;
	border-radius: 25px;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: #8B8A8A;
}

p{
	line-height: 1.5;
}

span{
	margin-top: -115px;
	padding-bottom: 115px;
	display: block;
}